<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
    <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/default.css">
    <style>
      .md-list-item-text {
        border-bottom: 1px solid #666;
        padding-bottom: 5px;
      }
      [v-cloak] { display: none; }
    </style>
  </head>

  <body>
    <div id="app" v-cloak>
      <md-toolbar class="md-accent" md-elevation="1">
        <h3 class="md-title" style="flex: 1">Store Finder</h3>
        <md-button class="md-primary" v-on:click="findStores">Find Stores</md-button>
      </md-toolbar>

      <!-- error -->
      <md-card class="md-accent" md-with-hover v-if="error">
        <md-ripple>
          <md-card-header>
            <div class="md-title">Error</div>
            <div class="md-subhead">Unable to determine position</div>
          </md-card-header>
  
          <md-card-content>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio itaque ea, nostrum odio. Dolores, sed accusantium quasi non.
          </md-card-content>
        </md-ripple>
      </md-card>

      <!-- progress -->
      <md-card v-if="step">
        <md-card-header>
          <div class="md-title">{{ step }}</div>
        </md-card-header>
      </md-card>

      <!-- results list -->
      <md-list class="md-triple-line">
        <md-list-item v-for="r in results" v-bind:key="r._id">
          <div class="md-list-item-text">
            <p>{{ r.address1 }}</p>
            <p>{{ r.address2 }}</p>
            <p>{{ r.address3 }}</p>
            <p>{{ r.city }}</p>
            <p>{{ r.county }}</p>
            <p>{{ r.postcode }}</p>
          </div>
        </md-list-item>
      </md-list>
    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material"></script>
    <script>
      Vue.use(VueMaterial.default)
      const url = 'https://4268d9ec-250f-4d59-bcbd-fb47a14ef856-bluemix.cloudant.com/boots/_design/find/_search/nearest'
      var app = new Vue({
        el: '#app',
        data: {
          results: [],
          step: '',
          error: false
        },
        methods: {
          findStores: function(e) {
            // find location of user, call getNearestStores when done
            this.step = 'Getting geolocation...'
            const geoError = () => {
              app.error = true
            }
            navigator.geolocation.getCurrentPosition(app.getNearestStores, geoError)
            console.log('Find stores')
          },
          getNearestStores: async function(pos) {

            // get lat/long
            const lat = pos.coords.latitude
            const long = pos.coords.longitude
            this.step = 'Getting nearest stores...'
            
            // make search request
            const req = {
              method: 'POST',
              headers: {
                'Content-type': 'application/json'
              },
              body: JSON.stringify({
                q: `latitude:[${lat - 0.5} TO ${lat + 0.5}] AND longitude:[${long - 0.5} TO ${long + 0.5}]`,
                sort: `<distance,longitude,latitude,${long},${lat},km>`,
                include_docs: true,
                limit: 10
              })
            }
            const response = await fetch(url, req)
            const resultSet = await response.json()

            // parse the response and present on the page
            this.results = []
            for(var i in resultSet.rows) {
              this.results.push(resultSet.rows[i].doc)
            }
            this.step = ''
          }
        }
      })
    </script>
  </body>
</html>